body {
    margin: 0; /* Elimina el margen del cuerpo de la página */
    font-family:Verdana, Geneva, Tahoma, sans-serif ; /* Fuente de texto */
}

/* Header */
header {
    display: flex; /* Mostramos el elemento como flexbox */
    justify-content: space-between; /* Ajusta los elementos horizontalmente a lo largo del contenedor*/
    align-items: center; /* Alinea los elementos verticalmente dentro del contenedor */
    
    padding: 0 10vw; /* Relleno a la izquierda y derecha con el ancho de la página */

    color: white; /* Color del texto */
    font-size: small;
    background-color: rgb(49, 73, 81); /* Color de fondo */
}

/* Elementos de navegación */
header nav a {
    padding: 0px 10px;
    color: white;
    text-decoration: none;
}

/* Elementos de la sección inicial */
main {
    display: flex;
    flex-direction: column; /* Muestra los elementos en columna */
    align-items: center;

    color: white;
    background-color: rgb(197, 125, 32);

    padding: 10vh 20vw; /* Relleno arriba-abajo, izquierda-derecha con los valores de la página */
}

/* Titulo principal */
main h2 {
    font-size: 2em;
    margin-top: 0; /* Elimina el margen superior por defecto */
}

/* Sección de suscripción */
#subscribeSection {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px;

    color: white;
    background-color: rgb(49, 73, 81);
}
/* Párrafo de suscripción */
#subscribeSection p {
    font-weight: bold; /* Texto en negrita */
}
/* Formulario de suscripción */
#subscribeSection form {
    margin-left: 40px; /* Margen usado para separar ligeramente p y form */
}
/* Botón de suscripción */
#subscribeSection button {
    color: white;
    background-color: rgb(197, 125, 32);
    border: none;
    cursor: pointer; /* Muestra el cursor al pasar el mouse sobre el botón */
}

/* Sección de imágenes */
#imageSection {
    display: flex;
    justify-content: space-evenly; /* Separa los elementos de la misma forma */
    align-items: center;
    gap: 40px; /* Espacio entre los elementos */
    padding: 40px;
    text-align: center; /* Alinea el texto al centro */
}
/* Para cada división en la sección de imágenes */
#imageSection div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Para los párrafos de cada división */
#imageSection div p {
    margin-bottom: 0; /* Elimina el margen inferior por defecto para tener balance visual */
}

/* Sección final de la página */
footer {
    display: flex;
    justify-content: center;
    align-content: center;

    padding: 10px;

    color: white;
    font-size: small;
    background-color: rgb(49, 73, 81);;
}