*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: black;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    overflow: hidden;
    display:grid;
    grid-template-rows: 10vh 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "main";
    justify-content: center;
    align-items: center;
    justify-items: center;
    background-image: url("../img/bkg.png"); /* Background image */
    background-size: cover; /* Cover the entire screen */
}

body p {
  color: white;
}

#headerContainer{
  grid-area: header;
  background-color: rgb(26, 26, 26);
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid white; /* Border for the header */
}

h1 {
  margin: 0px;
  color: white;
}

canvas {
    /* width: 75vw; */
    /* height: 75vh; */
    border: 2px solid black;
    background-color: #87ceeb;
    /* width: 600px; */
    /* height: 600px; */
    border: 1px solid white; /* Border for the game canvas */
}

#canvas {
  background-color: #262626;
  grid-area: main;
}

.lil-gui.autoPlace{
  top: 15vh;
  right: 5vw;
}

#backButton {
    margin: 10px;
}

#uiContainer {
  position: absolute;
  top: 15vh;
  right: 5vw;
  z-index: 3;
  font-family: monospace;
  pointer-events: none;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 1em;
  border: 1px solid turquoise;

  text-shadow:
   -1px -1px 0 #FFF,
    1px -1px 0 #FFF,
    -1px 1px 0 #FFF,
     1px 1px 0 #FFF;
}
#ui {
  opacity: 0.8;
}
#ui>div {
  pointer-events: none;
}
#ui input, #ui select, #ui option, #ui canvas {
  pointer-events: auto;
}

#gameContainer {
  display: flex;
}

/* Sidebar Menu for the game settings, values and instructions */
#side-menu {
  display: flex;
  flex-direction: column;
  color: white;
  border: 1px solid white;
  padding: 20px;
  margin-right: 20px;
  gap: 20px;
}

/* Configurations for each section of the sidebar menu */
#config, #game-values {
  display: flex; /* Flexbox for the sidebar menu */
  flex-direction: column; /* Display the elements in a column */
  color: white;
  background-color: #262626;
  border: 1px solid white;
  padding: 15px;
}
#config h2, #game-values h2 {
  margin-top: 0;
  margin-bottom: 15px;
}

#instructions {
  font-size: 10px;
}

#config input {
  background-color: black;
  color: white;
  border: 1px white solid;
  padding: 2px;
  margin-bottom: 10px;
  text-align: center;
}
#config input:hover { /* When the cursor hovers over the input fields */
  outline: none; /* Remove the default outline of the field */
  background-color: white;
  color: black;
}

/* Show each input field separated from the text */
#config div {
  display: flex;
  justify-content: space-between;
}

#config button {
  margin-top: 20px;
  padding: 10px;
  background-color: black;
  color: white;
  border: 1px white solid;
  cursor: pointer; /* Change the cursor to a pointer when hovering over the button */
}
#config button:hover { /* When the cursor hovers over the button */
  background-color: white;
  color: black;
}

#game-values p {
  margin: 5px 0; /* Margin up-down, left-right */
}